.header {
  height: 120px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 8px 51px rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #062b47;
  font-weight: 550;
  font-size: 18px;
}
