.myBtn {
  background: #ee624d;
  border-radius: 8px;
  font-family: "Avenir LT Pro";
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 60px;
}

@media (max-width: 600px) {
  .myBtn {
    height: 40px;
  }
}
@media (max-width: 400px) {
  .myBtn {
    height: 40px;
    font-size: 12px;
  }
}
