.logo {
  width: 192px;
  height: 50px;
}
.flexBox {
  display: flex;
  margin-left: 20px;
  margin-top: 30px;
}
.description {
  font-weight: 350;
}
.triangleDiv {
  position: relative;
  width: 440px;
  margin: 20px 0;
}
.messageDiv {
  width: 440px;
  height: 240px;
  position: relative;
  background: #fafafa;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.messageDiv > p {
  font-size: 18px;
  line-height: 30px;
  margin: 0 40px;
}
.triangle {
  position: absolute;
  left: 40px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fafafa;
  bottom: -20px;
}
.avatar {
  width: 80px;
  height: 80px;
}
.userInfo {
  width: 320px;
  height: 60px;
  margin: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 560px) {
  .triangleDiv {
    position: relative;
    width: 320px;
    margin: 20px 0;
  }
  .messageDiv {
    width: 320px;
    height: 200px;
  }
  .messageDiv > p {
    font-size: 14px;
    margin: 0 10px;
  }
}
