@font-face {
  font-family: "Avenir LT Pro 85 Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir LT Pro 85 Heavy"),
    url("../styles/fonts/AvenirLTProHeavy.woff") format("woff");
}
.content {
  background: linear-gradient(32.2deg, #00a7c0 0%, #8bd6de 100%);
  display: grid;
  grid-template-areas: "texted myForm myLog";
  grid-template-columns: 4fr 4fr 4fr;
  padding: 50px;
  grid-gap: 10px;
  font-family: "Avenir LT Pro 85 Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir LT Pro 85 Heavy"),
    url("../styles/fonts/AvenirLTProHeavy.woff") format("woff");
}
.textArea {
  grid-area: texted;
}
.headP {
  font-family: "Avenir LT Pro 85 Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir LT Pro 85 Heavy"),
    url("../styles/fonts/AvenirLTProHeavy.woff") format("woff");
  font-size: 4em;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
.text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: justify;
  color: #ffffff;
}
.smallTitle {
  font-family: "Avenir LT Pro 85 Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir LT Pro 85 Heavy"),
    url("../styles/fonts/AvenirLTProHeavy.woff") format("woff");
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}
.infoText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
}
.formArea {
  grid-area: myForm;
  font-family: "Avenir LT Pro 85 Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir LT Pro 85 Heavy"),
    url("../styles/fonts/AvenirLTProHeavy.woff") format("woff");
  display: block;
  -webkit-border-top-right-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-radius-topright: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  background: #ffffff;
  box-shadow: 0px 30px 80px rgba(176, 204, 225, 0.15);
  width: 500px;
  height: 850px;
  padding: 30px 60px 60px 60px;
  justify-self: center;
}
.inputText {
  font-family: "Avenir LT Pro 85 Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir LT Pro 85 Heavy"),
    url("../styles/fonts/AvenirLTProHeavy.woff") format("woff");
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  color: #062b47;
}
.foot {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainFlex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.title {
  text-align: center;
  font-weight: 900;
  font-size: 42px;
  margin: 100px 0;
}
.secondLogo {
  grid-area: myLog;
}

@media (max-width: 1030px) {
  .content {
    grid-template-areas:
      "texted myLog "
      "myForm myForm";
    grid-template-columns: 8fr 4fr;
  }
  .headP {
    font-size: 3em;
  }
}
@media (max-width: 560px) {
  .content {
    grid-template-areas:
      "texted texted "
      "myForm myForm";
    grid-template-columns: 1fr;
  }
  .secondLogo {
    display: none;
  }
  .formArea {
    width: 300px;
    height: auto;
    padding: 10px 30px 30px 30px;
  }
  .inputText {
    font-size: 20px;
  }
  .title {
    font-size: 20px;
  }
  .headP {
    font-size: 24px;
  }
  .eachItem {
    justify-items: center;
    width: 320px;
    margin-bottom: 50px;
  }
}
@media (max-width: 360px) {
  .content {
    padding: 20px 10px;
  }
}
